.button{
  min-height: 4rem;
  width: max-content;
  font-weight: 600;
  line-height: 2.4rem;
  padding: 0 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.1rem;
  background-color: var(--color-bg_grey);
  box-sizing: border-box;
  border: none;
  border-radius: 4px;

  &-regular{
    border: 1px solid #ECEFF1;
  }
  &-main{
    background-color: var(--color-link);
  }

}