extends ../base/base.pug
include ../../components/header/header.pug
include ../../components/searching/searching.pug

append styles
  link(rel='stylesheet', href='index.scss')
block title
  title='Stroyportal.ru'

append header
  +header()
append main
  +searching()