html{
  font-size: 10px;
  --color-text : #050F19;
  --color-hint : #708598;
  --color-links : #174AD1;
  --color-bg_grey: #FAFBFC;
  --color-bg_white: white;
  --color-green : #0D9B5F;
  --color-red : #E92F2F;
  --color-link : #FED83D;
  --color-purple : #9B51E0;
  --color-stroke : #ECEFF1;
}
header{
  font-size: 1.2rem;
  font-family: 'Open Sans';
}
body{
  font-family: 'Open Sans';
  font-size: 1.4rem;
}