.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--size-max_width, 110rem);
  margin: 0 auto;
  padding: 0 min(8.8rem, 5%);
  background-color: var(--color-bg_grey);
  &__geo_title {
    display: flex;
    align-items: center;
  }
  &__menu{
    display: flex;
    gap: 2.4rem;
  }
}