.search{
  border: 1px solid #ECEFF1;
  box-sizing: border-box;
  border-radius: 4px;
  min-height: 4rem;
  width: 100%;
  min-width: min-content;
  outline: none;
  margin: 0;
  padding: 0;
  padding-left: 1.4rem;
  &__container{
    display: flex;
    align-items: center;
    position: relative;
    &::after{
      font-family: 'Material Icons Round';
      content: 'search';
      font-size: 2rem;
      position: absolute;
      right: 0;
      margin-right: 1rem;

    }
  }
}